# Assignment 3
Name: Yussuf seifudin 660411

In [27]:
import pandas as pd
import numpy as np

In [28]:
diabetes_data = pd.read_csv("C:\\Users\DELL\Downloads\dwn\diabetes.csv")

# Data cleaning

In [29]:
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

# Relpace all 0 with NAN within the dataset

In [30]:
columns = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']
diabetes_data[columns] = diabetes_data[columns].replace({0:np.nan})

In [31]:
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

In [32]:
X = diabetes_data.drop("Outcome", axis = 1)
y = diabetes_data['Outcome']

In [33]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33

In [34]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

Split your data into Train and Test using sklearn.model_selection

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

# CALCULATE THE MEDIANS WITHIN THE X_train

In [36]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
imputer.fit(X_train)
X_train.median().values

array([  3.    , 117.    ,  72.    ,  29.    , 121.    ,  32.    ,
         0.3725,  29.    ])

# REPLACE THE NAN VALUES WITHIN THE X_train WITH THE MEDIANS

In [37]:
X_train_transform = imputer.transform(X_train) # this line of code will return the numpy array
# lets convert the numpy array into pandas dataframe
X_train_transform_df = pd.DataFrame(X_train_transform, columns = X_train.columns, index = X_train.index)

In [38]:
X_train_transform_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 576 entries, 357 to 102
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               576 non-null    float64
 1   Glucose                   576 non-null    float64
 2   BloodPressure             576 non-null    float64
 3   SkinThickness             576 non-null    float64
 4   Insulin                   576 non-null    float64
 5   BMI                       576 non-null    float64
 6   DiabetesPedigreeFunction  576 non-null    float64
 7   Age                       576 non-null    float64
dtypes: float64(8)
memory usage: 40.5 KB

In [39]:
X_train_transform_df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64

In [76]:
X_train_transform_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
357,13.0,129.0,72.0,30.0,121.0,39.9,0.569,44.0
73,4.0,129.0,86.0,20.0,270.0,35.1,0.231,23.0
352,3.0,61.0,82.0,28.0,121.0,34.4,0.243,46.0
497,2.0,81.0,72.0,15.0,76.0,30.1,0.547,25.0
145,0.0,102.0,75.0,23.0,121.0,32.0,0.572,21.0

# Lets Standardize the dataframe to be able to make the dataset more balanced

In [40]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [45]:
# lets make new pandas dataframe from the numpy array and pass it within the scaler()
# after this step lets replace the NAN values within the test set
X_train_transform2 = scaler.fit_transform(X_train_transform_df) 
X_train_transform2_df = pd.DataFrame(X_train_transform2, columns = X_train.columns, index = X_train.index)

In [77]:
X_train_transform2_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
60,2,84.0,NaN,NaN,NaN,NaN,0.304,21
618,9,112.0,82.0,24.0,NaN,28.2,1.282,50
346,1,139.0,46.0,19.0,83.0,28.7,0.654,22
294,0,161.0,50.0,NaN,NaN,21.9,0.254,65
231,6,134.0,80.0,37.0,370.0,46.2,0.238,46

In [58]:
print ( 'train set after replacing the null values', X_train_transform2_df.head())

train set after replacing the null values      Pregnancies   Glucose  BloodPressure  SkinThickness   Insulin       BMI  \
357     2.803468  0.243688      -0.021112       0.148843 -0.196113  1.103656
73      0.078327  0.243688       1.137044      -1.043557  1.488862  0.405222
352    -0.224467 -2.018640       0.806142      -0.089637 -0.196113  0.303367
497    -0.527260 -1.353250      -0.021112      -1.639757 -0.704998 -0.322313
145    -1.132847 -0.654590       0.227064      -0.685837 -0.196113 -0.045850

     DiabetesPedigreeFunction       Age
357                  0.296085  0.963521
73                  -0.700876 -0.862956
352                 -0.665480  1.137471
497                  0.231195 -0.689006
145                  0.304934 -1.036906

In [48]:
# replacing NAN values within the test set
imputer = SimpleImputer(strategy='median')
imputer.fit(X_test)
X_test.median().values

array([  3.    , 115.    ,  72.    ,  31.    , 129.    ,  32.8   ,
         0.3725,  29.    ])

In [49]:
X_test_transform = imputer.transform(X_test) # this line of code will return the numpy array
# lets convert the numpy array into pandas dataframe
X_test_transform_df = pd.DataFrame(X_test_transform, columns = X_test.columns, index = X_test.index)

In [50]:
X_test_transform_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192 entries, 668 to 615
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               192 non-null    float64
 1   Glucose                   192 non-null    float64
 2   BloodPressure             192 non-null    float64
 3   SkinThickness             192 non-null    float64
 4   Insulin                   192 non-null    float64
 5   BMI                       192 non-null    float64
 6   DiabetesPedigreeFunction  192 non-null    float64
 7   Age                       192 non-null    float64
dtypes: float64(8)
memory usage: 13.5 KB

In [51]:
# lets scale our test set
X_test_transform2 = scaler.fit_transform(X_test_transform_df) 
X_test_transform2_df = pd.DataFrame(X_test_transform2, columns = X_test.columns, index = X_test.index)

In [55]:
print ("Test Set after replacing the null values" , X_test_transform2_df.head())

Test Set after replacing the null values      Pregnancies   Glucose  BloodPressure  SkinThickness   Insulin       BMI  \
668     0.521349 -0.749736      -1.223418       0.221648  0.572430  0.163663
324    -0.609713 -0.304958       0.183642       0.119349 -0.185889  0.411894
624    -0.609713 -0.432037      -0.726809       0.017050 -0.185889 -0.303597
690     1.086880 -0.463807       0.597483       0.017050 -0.185889 -1.208913
473     0.804114  0.457519       1.425166       0.017050 -0.185889 -0.435014

     DiabetesPedigreeFunction       Age
668                 -0.168835  0.707708
324                 -1.090627 -1.061144
624                 -1.057939 -1.061144
690                  1.223658 -0.015913
473                 -0.887963  1.270525

# Lets train our model using RandomForest

In [74]:
from sklearn.model_selection import train_test_split
X_train_transform2_df, X_test_transform2_df, y_train, y_test = train_test_split(X, y, test_size=0.2 ,random_state = 42)

In [73]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators = 200)
rfc.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [75]:
X_train_transform2_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
60,2,84.0,NaN,NaN,NaN,NaN,0.304,21
618,9,112.0,82.0,24.0,NaN,28.2,1.282,50
346,1,139.0,46.0,19.0,83.0,28.7,0.654,22
294,0,161.0,50.0,NaN,NaN,21.9,0.254,65
231,6,134.0,80.0,37.0,370.0,46.2,0.238,46